import("AnnotationDbi")

importClassesFrom("methods",
                  "character",
                  "data.frame")

importFrom("annotate",
           "dropECode",
           "getGOTerm")

importFrom("methods",
           "as",
           "new")

importFrom("RpsiXML",
           "list2Matrix")

importFrom("utils",
           "data",
           "read.table")

importFrom("GO.db",
           "GOCCCHILDREN",
           "GOTERM")

importFrom("org.Sc.sgd.db",
           "org.Sc.sgdALIAS",
           "org.Sc.sgdGO",
           "org.Sc.sgdGO2ALLORFS",
           "org.Sc.sgdGO2ORF")

exportClasses("yeastData")

exportMethods("ID", "Desc", "getURL")

export(JaccardCoef, ScISI2html, calcGraphStats, checkComplex, checkSGN, compBijection, compareComplex,
       createGODataFrame, createGOMatrix, createMipsDataFrame, createMipsMatrix, createYeastDataObj,
       edgeProp, findSubComp, getAPMSData, getGOInfo, getLocOrfs, getMipsInfo, graphSumStats, 
       maximizeSimilarity, meanDeg, mergeBGMat, recCompSize, rmByEvi, runAlignment, runCompareComplex,
       sumStats, unWantedComp, xtraGONodes)
