#import("Matrix")
import("GOstats")
#import("Rintact")
importMethodsFrom("AnnotationDbi", "as.list", "mget", "get", "[[", "ls",
                  "exists", "$", "eapply")


exportClasses("yeastData")

exportMethods("ID", "Desc", "getURL")

export(JaccardCoef, ScISI2html, calcGraphStats, checkComplex, checkSGN, compBijection, compareComplex,
       createGODataFrame, createGOMatrix, createMipsDataFrame, createMipsMatrix, createYeastDataObj,
       edgeProp, findSubComp, getAPMSData, getGOInfo, getLocOrfs, getMipsInfo, graphSumStats, 
       maximizeSimilarity, meanDeg, mergeBGMat, recCompSize, rmByEvi, runAlignment, runCompareComplex,
       sumStats, unWantedComp, xtraGONodes)
